@import "_header_mixin.scss";
@import "_header_variables.scss";

.header {
  background: url("../../images/Header.png") no-repeat center center;
  background-size: cover;
  padding: 0 15px;
  .wrapper {
    margin: 0 auto;
    max-width: 1170px;
    .header-top {
      margin: 0 auto;
      padding: 42px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        text-decoration: none;
      }
      .Logo {
        display: flex;
        align-items: center;
        .logo {
          font-size: 20px;
          text-transform: uppercase;
          font-weight: 700;
          color: white;
        }
        .logo-titl {
          padding-left: 16px;
          font-size: 7px;
          text-transform: uppercase;
          color: #515155;
        }
      }
      .header-nav {
        font-family: 'Source Sans Pro', sans-serif;
        height: 100%;
        display: flex;
        align-items: center;

        a {
          margin-right: 25px;
          color: white;
          display: inline-block;
          position: relative;
          text-decoration: none;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  .header-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header-bottom {
      width: 55%;
      p {font-family: 'Source Sans Pro', sans-serif;}
      .title-top {
        text-transform: uppercase;
        font-weight: 600;
        color: #008ed6;
        font-size: 5px;
      }
      .title {
        margin-top: 32px;
        font-weight: 600;
        color: white;
      }
      .title-text {
        margin-top: 35px;
        color: #808081;
        font-size: 12px;
        line-height: 1.5;
      }
      .buttons {
        margin-top: 62px;
        display: flex;
        .item-buttun {
          font-size: 10px;
          font-weight: 600;
          margin-right: 20px;
          text-transform: uppercase;
          padding: 20px;
          color: white;
          border: 1px solid #454449;
          border-radius: 3px;
          background: transparent;
          &:last-child {
            margin-right: 0;
          }
          &:hover {
            border-color: transparent;
            background-color: #008ed6;
          }
        }
      }
    }
    .header-img {
      display: flex;
      align-items: flex-end;
      img {max-width: 100%}
    }
  }
}
.Product {
  color: #ffffff;
  padding: 0 15px;
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed;
  p {font-family: 'Source Sans Pro', sans-serif;}
  .section-top {
    text-align: center;
    .title-top {
      font-size: 10px;
      text-transform: uppercase;
      font-weight: 600;
      color: #008ed6;
      padding-top: 65px;
    }
    .title {
      font-size: 28px;
      font-weight: 600;
      color: black;
      padding-top: 22px;
      .border-tran {
        margin-right: 5px;
        border-bottom: 2px solid #008ed6;
      }
      .border-transp {
        border-bottom: 2px solid #008ed6;
      }
    }
  }
  .servis {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 72px;
    padding-bottom: 72px;
    font-family: 'Source Sans Pro', sans-serif;
    .Responsive {
      max-width: 600px;
      .Monitor {
        width: 92px;
        height: 92px;
        border: 1px solid #e0e0e0;
        border-radius: 50%;
        margin: 0 auto;
        img {
          margin-left: 32%;
          margin-top: 37%;
        }
      }
      .title-top {
        font-size: 18px;
        color: black;
        font-weight: 600;
        padding-top: 23px;
        text-align: center;
      }
      .title {
        font-size: 13px;
        color: #999999;
        font-weight: 600;
        padding-top: 22px;
        text-align: center;
        line-height: 1.2;
      }
    }
    .Customizable {
      max-width: 600px;
      .Settings {
        width: 92px;
        height: 92px;
        border: 1px solid #e0e0e0;
        border-radius: 50%;
        margin: 0 auto;
        img {
          margin-left: 32%;
          margin-top: 32%;
        }
      }
      .title-top {
        font-size: 18px;
        color: black;
        font-weight: 600;
        padding-top: 23px;
        text-align: center;
      }
      .title {
        font-size: 13px;
        color: #999999;
        font-weight: 600;
        padding-top: 22px;
        text-align: center;
        line-height: 1.2;
      }
    }
    .Lovely_design {
      max-width: 600px;
      .Like {
        width: 92px;
        height: 92px;
        border: 1px solid #e0e0e0;
        border-radius: 50%;
        margin: 0 auto;
        img {
          margin-left: 31%;
          margin-top: 30%;
        }
      }
      .title-top {
        font-size: 18px;
        color: black;
        font-weight: 600;
        padding-top: 23px;
        text-align: center;
      }
      .title {
        font-size: 13px;
        color: #999999;
        font-weight: 600;
        padding-top: 22px;
        text-align: center;
        line-height: 1.2;
      }
    }
    .Mobile_Friendly {
      max-width: 600px;
      .Phone {
        width: 92px;
        height: 92px;
        border: 1px solid #e0e0e0;
        border-radius: 50%;
        margin: 0 auto;
        img {
          margin-left: 39%;
          margin-top: 31%;
        }
      }
      .title-top {
        font-size: 18px;
        color: black;
        font-weight: 600;
        padding-top: 23px;
        text-align: center;
      }
      .title {
        font-size: 13px;
        color: #999999;
        font-weight: 600;
        padding-top: 22px;
        text-align: center;
        line-height: 1.2;
      }
    }
  }
}
.Info {
  padding: 0 15px;
  padding-top: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .section-light {
    img {max-width: 100%};
  }
  .section-height {
    max-width: 50%;
    margin-left: 30px;
    p {font-family: 'Source Sans Pro', sans-serif;}
    .title-top {
      font-size: 10px;
      font-weight: 500;
      text-transform: uppercase;
      color: #008ed6;
    }
    .title {
      font-size: 26px;
      font-weight: 500;
      color: black;
      padding-top: 20px;
      //p {padding-bottom: 33px};
      .border_bottom {
        padding-top: 20px;
        display: flex;
        align-content: flex-start;
        .border_left {
          width: 20px;
          height: 2px;
          background-color: #008ed6;
          margin-right: 2px;
        }
        .border {
          width: 20px;
          height: 2px;
          background-color: #008ed6;
        }
      }
    }
    .text {
      font-size: 12px;
      font-weight: 500;
      color: #999999;
    }
  }
}