html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-family: "Quicksand", sans-serif;
  line-height: 1; }

.header {
  background: url("../../images/Header.png") no-repeat center center;
  background-size: cover;
  padding: 0 15px; }
  .header .wrapper {
    margin: 0 auto;
    max-width: 1170px; }
    .header .wrapper .header-top {
      margin: 0 auto;
      padding: 42px 0;
      display: flex;
      align-items: center;
      justify-content: space-between; }
      .header .wrapper .header-top a {
        text-decoration: none; }
      .header .wrapper .header-top .Logo {
        display: flex;
        align-items: center; }
        .header .wrapper .header-top .Logo .logo {
          font-size: 20px;
          text-transform: uppercase;
          font-weight: 700;
          color: white; }
        .header .wrapper .header-top .Logo .logo-titl {
          padding-left: 16px;
          font-size: 7px;
          text-transform: uppercase;
          color: #515155; }
      .header .wrapper .header-top .header-nav {
        font-family: 'Source Sans Pro', sans-serif;
        height: 100%;
        display: flex;
        align-items: center; }
        .header .wrapper .header-top .header-nav a {
          margin-right: 25px;
          color: white;
          display: inline-block;
          position: relative;
          text-decoration: none; }
          .header .wrapper .header-top .header-nav a:last-child {
            margin-right: 0; }
  .header .header-title {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header .header-title .header-bottom {
      width: 55%; }
      .header .header-title .header-bottom p {
        font-family: 'Source Sans Pro', sans-serif; }
      .header .header-title .header-bottom .title-top {
        text-transform: uppercase;
        font-weight: 600;
        color: #008ed6;
        font-size: 5px; }
      .header .header-title .header-bottom .title {
        margin-top: 32px;
        font-weight: 600;
        color: white; }
      .header .header-title .header-bottom .title-text {
        margin-top: 35px;
        color: #808081;
        font-size: 12px;
        line-height: 1.5; }
      .header .header-title .header-bottom .buttons {
        margin-top: 62px;
        display: flex; }
        .header .header-title .header-bottom .buttons .item-buttun {
          font-size: 10px;
          font-weight: 600;
          margin-right: 20px;
          text-transform: uppercase;
          padding: 20px;
          color: white;
          border: 1px solid #454449;
          border-radius: 3px;
          background: transparent; }
          .header .header-title .header-bottom .buttons .item-buttun:last-child {
            margin-right: 0; }
          .header .header-title .header-bottom .buttons .item-buttun:hover {
            border-color: transparent;
            background-color: #008ed6; }
    .header .header-title .header-img {
      display: flex;
      align-items: flex-end; }
      .header .header-title .header-img img {
        max-width: 100%; }

.Product {
  color: #ffffff;
  padding: 0 15px;
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed; }
  .Product p {
    font-family: 'Source Sans Pro', sans-serif; }
  .Product .section-top {
    text-align: center; }
    .Product .section-top .title-top {
      font-size: 10px;
      text-transform: uppercase;
      font-weight: 600;
      color: #008ed6;
      padding-top: 65px; }
    .Product .section-top .title {
      font-size: 28px;
      font-weight: 600;
      color: black;
      padding-top: 22px; }
      .Product .section-top .title .border-tran {
        margin-right: 5px;
        border-bottom: 2px solid #008ed6; }
      .Product .section-top .title .border-transp {
        border-bottom: 2px solid #008ed6; }
  .Product .servis {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 72px;
    padding-bottom: 72px;
    font-family: 'Source Sans Pro', sans-serif; }
    .Product .servis .Responsive {
      max-width: 600px; }
      .Product .servis .Responsive .Monitor {
        width: 92px;
        height: 92px;
        border: 1px solid #e0e0e0;
        border-radius: 50%;
        margin: 0 auto; }
        .Product .servis .Responsive .Monitor img {
          margin-left: 32%;
          margin-top: 37%; }
      .Product .servis .Responsive .title-top {
        font-size: 18px;
        color: black;
        font-weight: 600;
        padding-top: 23px;
        text-align: center; }
      .Product .servis .Responsive .title {
        font-size: 13px;
        color: #999999;
        font-weight: 600;
        padding-top: 22px;
        text-align: center;
        line-height: 1.2; }
    .Product .servis .Customizable {
      max-width: 600px; }
      .Product .servis .Customizable .Settings {
        width: 92px;
        height: 92px;
        border: 1px solid #e0e0e0;
        border-radius: 50%;
        margin: 0 auto; }
        .Product .servis .Customizable .Settings img {
          margin-left: 32%;
          margin-top: 32%; }
      .Product .servis .Customizable .title-top {
        font-size: 18px;
        color: black;
        font-weight: 600;
        padding-top: 23px;
        text-align: center; }
      .Product .servis .Customizable .title {
        font-size: 13px;
        color: #999999;
        font-weight: 600;
        padding-top: 22px;
        text-align: center;
        line-height: 1.2; }
    .Product .servis .Lovely_design {
      max-width: 600px; }
      .Product .servis .Lovely_design .Like {
        width: 92px;
        height: 92px;
        border: 1px solid #e0e0e0;
        border-radius: 50%;
        margin: 0 auto; }
        .Product .servis .Lovely_design .Like img {
          margin-left: 31%;
          margin-top: 30%; }
      .Product .servis .Lovely_design .title-top {
        font-size: 18px;
        color: black;
        font-weight: 600;
        padding-top: 23px;
        text-align: center; }
      .Product .servis .Lovely_design .title {
        font-size: 13px;
        color: #999999;
        font-weight: 600;
        padding-top: 22px;
        text-align: center;
        line-height: 1.2; }
    .Product .servis .Mobile_Friendly {
      max-width: 600px; }
      .Product .servis .Mobile_Friendly .Phone {
        width: 92px;
        height: 92px;
        border: 1px solid #e0e0e0;
        border-radius: 50%;
        margin: 0 auto; }
        .Product .servis .Mobile_Friendly .Phone img {
          margin-left: 39%;
          margin-top: 31%; }
      .Product .servis .Mobile_Friendly .title-top {
        font-size: 18px;
        color: black;
        font-weight: 600;
        padding-top: 23px;
        text-align: center; }
      .Product .servis .Mobile_Friendly .title {
        font-size: 13px;
        color: #999999;
        font-weight: 600;
        padding-top: 22px;
        text-align: center;
        line-height: 1.2; }

.Info {
  padding: 0 15px;
  padding-top: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .Info .section-light img {
    max-width: 100%; }
  .Info .section-height {
    max-width: 50%;
    margin-left: 30px; }
    .Info .section-height p {
      font-family: 'Source Sans Pro', sans-serif; }
    .Info .section-height .title-top {
      font-size: 10px;
      font-weight: 500;
      text-transform: uppercase;
      color: #008ed6; }
    .Info .section-height .title {
      font-size: 26px;
      font-weight: 500;
      color: black;
      padding-top: 20px; }
      .Info .section-height .title .border_bottom {
        padding-top: 20px;
        display: flex;
        align-content: flex-start; }
        .Info .section-height .title .border_bottom .border_left {
          width: 20px;
          height: 2px;
          background-color: #008ed6;
          margin-right: 2px; }
        .Info .section-height .title .border_bottom .border {
          width: 20px;
          height: 2px;
          background-color: #008ed6; }
    .Info .section-height .text {
      font-size: 12px;
      font-weight: 500;
      color: #999999; }

/*# sourceMappingURL=style.css.map */
